@model MiniMarket.Web.Models.SearchViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section Scripts{ 
    <script src="~/js/Search.js"></script>
}

@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @id="searchForm" }))
{
    <div class="row">
        <div class="col-md-3">
            Filters
            <br />
            <input type="hidden" asp-for="idCategory"></input>
            <!-- Categories -->
            <div class="list-group">
                @foreach (MiniMarket.Entities.Dto.CategoryDto c in Model.lstCategories)
                {
                    <a class="list-group-item @{ if (Model.idCategory == c.id) {<text>active</text>}}" asp-action="Search" asp-controller="Home" asp-route-idCategory="@c.id">@c.name</a>
                }
            </div>

        </div>
        <div class="col-md-9">
            <div>
                <div class="row">

                    <div class="col-lg-10">
                        Items found
                    </div>
                    <div class="col-lg-2 text-end">
                        <select class="form-select" asp-items="@Model.lstOrder" asp-for="order"></select>
                    </div>

                </div>
                <br />
                <div class="row">
                    <ol class="list-group list-group-numbered">
                        @if (Model.lstItems.Count == 0)
                        {
                            <div class="alert alert-warning" role="alert">
                                No items found
                            </div>
                        }

                        @foreach (MiniMarket.Entities.Dto.ItemDto i in Model.lstItems)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold"><a asp-action="Item" asp-controller="Home" asp-route-id="@i.Id">@i.Name</a></div>
                                    @i.Description
                                </div>
                                <span class="badge bg-primary rounded-pill">$@i.Price</span>
                            </li>
                        }
                    </ol>
                </div>
            </div>

        </div>
    </div>
}